@import '../../node_modules/@csstools/normalize.css';
@import './color.scss';
@import '../fonts/fonts.scss';



::placeholder {
  color: #666;
}

::selection {
  color: $main-light;
  background: $main-accent;
}

html {
  scroll-behavior: smooth;
}
*{
  cursor: none !important;
}
body {
  padding: 0;
  margin: 0;
  font-size: 13px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "AvenirNextCyr-Medium", sans-serif;
  overflow-x: hidden;

  input, textarea {
    border: #666 1px solid;
    outline: none;

    &:focus:required:invalid {
      border-color: red;
    }

    &:required:valid {
      border-color: green;
    }
  }
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    padding: 0;
  }
}

p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}

.appTheme{
  color: $main-dark;
  background: $main-light;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
